.Popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.Popular h1{
    font-size: 40px;
    font-weight: 600;
    color: #171717;
}
.Popular hr{
    width: 200px;
    height: 6px;
    color: #262626;
    border-radius: 10px;
}
.Popular-item{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}




@media screen and (max-width: 1140px){
    .Popular{
        display: none;
    }
}